extends layout

block content
  form(id='form', method='post', action='/login')
    div
      label(for='username') Username: 
      input(type='text', name='username')
    div
      label(for='password') Password: 
      input(type='text', name='password')
    div(class="link")
      a(href='/home') Login